# django_heroku
requests
geopy
django
beautifulsoup4
gunicorn
html5lib
joblib
pandas
celery
rabbitmq
honcho
eventlet
# opencv-python-headless
matplotlib
# keras
# tensorflow-cpu==2.5.0
mysql-connector
protobuf
django-environ
importlib-metadata==4.13.0
scikit-learn
whitenoise